*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 16px 48px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: larger;
    opacity: 0.9;
}

.navbar__menu_container{
    display: flex;
    gap: 18px;
    
}

.navbar__menu_container .user_icon{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(60vh - 65px );
}

.hero__section_logo{
    width: 300px;
    height: 60px;
}

.hero__section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 7px;
    opacity: 0.9;
}

.input_container_location, .input_container_search{
    padding: 5px;
    border: none;
    outline: none;
    font-weight: 350;
}

.input_container_location{
    width: 55%;
    border-right: 2px solid #e0e0e0;
}

.input_container_search{
    width: 85%;
}

.hero__section_input_container .location_icon{
    color: red;
}

.hero__section_input_container .search_icon{
    color: black;
}



.container{
    margin: 3rem auto;
    width: 90%;
}

.we_offer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.we_offer_card{
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    transition: all 0.5s ease-in-out;
    margin-right: 20px; 
}
.we_offer_card:hover{
    transform: scale(1.06);
}

.we_offer_card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.we_offer_content{
    padding: 10px;
}

.we_offer_content h2{
    font-size: 20px;
    font-weight: 500;
}

.we_offer_content p{
    font-size: 13px;
    font-weight: 400;
    opacity: 0.7;
}

.collection h1{
    font-weight: 500;
    font-size: xx-large;
}

.collection .sub__heading_container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.sub__heading_container span:nth-child(2){
    color: crimson;
    font-size: 13px;
    cursor: pointer;
}

.collections_cards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
    margin-top: 15px;
}

.collections_cards_container .card{
    height: 300px;
    min-width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url("./images/collection1.jpg");
     
}

.card2{
    background-image: url("./images/collection2.jpg");
}

.card3{
    background-image: url("./images/collection3.jpg");
}

.card4{
    background-image: url("./images/collection4.jpg");
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%,
     rgba(0, 0, 0, 0.05) 50%,
     rgba(0, 0, 0, 0.05) 85%);
    z-index: 5;
}

.collections_cards_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
    z-index: 6;
}

.content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

h1.local-title {
	color: #363636;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}

.locals-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 35px;
}

.locals-grid .local-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	font-size: 20px;
	color: #1c1c1c;
	border: 1px solid #e8e8e8;
	border-radius: 8px;
	box-shadow: 0 1.4px 2.8px rgba(28,28,28,0.08);
	cursor: pointer;
}

.locals-grid .local-box:hover {
	box-shadow: 0 1.4px 2.8px 2px rgba(28,28,28,0.08);
}

.local-box .fa-chevron-right {
	font-size: 10px;
}

.semicontainer .left{
    display: flex;
}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get__the_app .semicontainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__the_app .semicontainer .left{
    flex: 2;
}

.get__the_app .semicontainer .left img{
    width: 100%;
    object-fit: center;
    object-position: center;
}

.get__the_app .semicontainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem;
}

.right .radio__button_container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.right .radio__button_container div{
    display: flex;
    align-items:center;
    justify-content:center;
    grid-area: 20px;
    
}

.right .radio__button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239,79,95);
}

.right .input_container{
    display: flex;
    gap: 0.5rem;
}

.radio__button_container .email{
    margin: 0px 0px 0.1rem 0.2rem;
    font-size: 20px;
    font-weight: 400;
}

.radio__button_container .phone{
    margin: 0px 0px 0.1rem 0.2rem;
}

.input_container button,
.input_container input{
    padding: 10px 12px;
}

.input_container input{
    flex: auto;
    border: 1.5 solid gray;
    outline: none;
    border-radius: 5px;
}

.input_container button{
    border: none;
    background-color: rgb(239,79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.app__install_icons{
    display: flex;
}

.download__app_container .appleStore{
    width: 50%;
    height: 50%;
}

.download__app_container .playStore{
    
    margin-left: 2rem;
    width: 50%;
    height: 50%;
}

.footer{
    width: 100%;
}

.footer__section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.footer__section1 img{
    width: 130px;
}

.section1__buttoncontainer{
    display: flex;
    gap: 1rem;
}

.section1__buttoncontainer button{
    padding: 5px 15px;
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.navigation_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link__container h5{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    letter-spacing: 0.8px;
    color: black;
}

.footer__link{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 300;
}

.footer__link:hover{
    color: black;
}

.section__links_container{
    display: flex;
    gap: 0.8rem;
    flex-direction: row;
}

.section__links_container button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}

.section__links_container button i{
    color: white;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
}

.link__container .appleStore{
    width: 50%;
    height: 50%;
}

.link__container .playStore{
    width: 50%;
    height: 50%;
}

.disclamer{
    width: 80%;
    font-weight: 300;
    color: gray;
    margin: auto;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}


@media only screen and (max-width: 600px){
    .navbar__menu_container .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;        
    }
    .input_container_location,
    .input_container_search{
        padding: 18px;
        border-radius: 10px;
        width: 97%;
    }
    .hero__section_container{
        height: calc(80vh - 40px);
    }
    .hero__section_title{
        font-size: 18px;
        width: 95%;
    }
}

@media only screen and (max-width: 1300px){
    .get__the_app .semicontainer .left,
    .get__the_app .semicontainer .right{
        flex: 1;
    }
    .get__the_app .semicontainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px){
    .get__the_app{
        padding: 2rem 0;
    }
    .get__the_app .semicontainer{
        width: 95%;
        flex-direction: column;

    }
}

@media only screen and (max-width: 900px){
    .navigation_container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px){
    .navigation_container{
            grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 320px){
    .navigation_container{
            grid-template-columns: repeat(1, 1fr);
    }
}